.App {
  text-align: center;
}
.root{
background-color:aquamarine ;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.radio{
  margin-left: 25px;
}
.addquestionbutton{
  margin-top: 15px;
}
.panel{
  margin-top: 20px;
}
.pan{
  margin-left: 15px;
}
.signinbtn{
  margin-left: 25px;
}
.publishbutton{
  margin-top: 15px;
}

.App-title {
  font-size: 1.5em;
}
.surveyform{
  width: 60%;
  margin-left: 22%;
  margin-top: 6%;
}

.App-intro {
  font-size: large;
}
.nav{
  margin-bottom:9%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn.navbaruser{
  margin-left:75%;
}
/*.btn-danger.navbarlogout{
  margin-left:1%;
}*/
.pavan{
  width:100%;
  margin-top: 12px;
}
.takesurveybutton{

  margin-left: 45%;
  margin-top: 10%;
}
.loginbutton{
  margin-left: 47%;
  margin-top: 3%;
}
.createsurveybutton{
  margin-top: 20%;
  margin-left: 40%;
}
.takesurvey{
  margin-top: 20%;
  margin-left: 40%;
}

#content {
  text-align: center;
  padding-top: 14%;
  font-weight: 700 !important;
  font-size: 5em !important;
}
.codebutton{
  margin-left: 17px;
}
.give{
  margin-left: 15.5px;
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;}
.surveyape{
  font-size: 1em;
}
.code{
  margin-left: 40%;
  margin-top: 19%;
}

.loginemailinput{
  width: 50%;
}
.formErrors{
  color: red;
  font-size: 20px;
}

body{
  background-image: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=612621fd686897b4812287430c8be9db&auto=format&fit=crop&w=1052&q=80") !important;
  background-size: cover;
  font-family: Lato !important;
  height: 100%;
  color: white;
}
.loginpage{
  margin-left: 29%;
  margin-top: 8%;
}
.registerform{

}

.loginlabel{
  margin-left: 26%;
  font-size: 37px;
}

.registerform{
  width: 50%;
  margin-left: 26%;
  margin-top: 7%;
}


